.pt-2 {
    padding-top: 2%;
}

.main-height {
    height: 100vh;
}

.pt-1 {
    padding-top: 1%;
}

.pb-1 {
    padding-bottom: .5%;
}

.loading-text {
    font-size: 2rem;
}

.offline {
    color: #CA0B00;
}

.online {
    color: #4BB543;
}

.bold-text {
    font-weight: bold;
}